<div  class="container">

      
      <button type="button" class="close close-mdl" aria-label="Close" (click)="onNoClick()">
            <span aria-hidden="false">&times;</span>
      </button>
      <div >
            <div >
                  <h6 class="titre-erreur">Impossible de créer un modèle</h6>
                  <label class="message-erreur">Il n'est pas possible de créer plus de 2 modèles</label>
            </div>
      </div>
      
      <button  class="btn btn-primary btn-colse float-right" (click)="onNoClick()">ok</button>
</div>
